SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
MONGODB_URI=your-mongodb-uri
MONGODB_DB_NAME=job_portal_db
SQLITE_DB_PATH=db.sqlite3
MEDIA_ROOT=media
STATIC_ROOT=staticfiles
CSRF_TRUSTED_ORIGINS=https://careerconnect-si44.onrender.com
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
MAX_RESUME_UPLOAD_SIZE=5242880