Django==5.2.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
python-decouple==3.8
mongoengine==0.29.1
pymongo==4.10.1
dnspython==2.7.0
dj-database-url==1.0.0
psycopg2-binary==2.9.11
gunicorn==22.0.0
whitenoise==6.7.0