SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
MONGODB_URI=your-mongodb-uri
MONGODB_DB_NAME=job_portal_db
MAX_RESUME_UPLOAD_SIZE=5242880

# Zoom Integration
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=

# Google OAuth Integration
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Google Gemini AI Integration
GEMINI_API_KEY=your-gemini-api-key